main {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main .square {
  position: relative;
  width: 550px;
  height: 500px;
  transform: skew(20deg);
  background: rgba(0, 255, 0, 0.6);
  margin-left: 10%;
}

main .square h2 {
  position: absolute;
  transform: skew(-20deg);
  font-size: 40px;
  color: white;
  width: 80%;
  left: 10%;
  top: 16%;
  text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif;
  opacity: 1;
}

main .square .checkInfoBtn {
  color: white;
  font-size: 30px;
  background-color: transparent;
  border: 3px solid white;
  padding: 10px 30px;
  outline: none;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  overflow: hidden;
}

main .square .checkInfoBtn p {
  transform: skew(-20deg);
}

main .square .checkInfoBtn p:hover {
  color: green;
}

main .square .checkInfoBtn:hover {
  cursor: pointer;
  color: green;
}

.checkInfoBtn:after {
  position: absolute;
  display: block;
  content: "";
  width: 300px;
  left: -320px;
  height: 100px;
  transform: translateY(-50%);
  background: white;
  transition: left 0.4s ease;
  z-index: -1;
}

.checkInfoBtn:hover::after {
  left: -20px;
}

.aboutCompany {
  width: 100%;
  height: 100vh;
  background-color: white;
}
