section.buildingItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

section.buildingItems .buildingItemsShadow {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}

section.buildingItems .buildingItemsShadow.active {
  display: flex;
}

section.buildingItems .buildingItemsShadow {
  color: whitesmoke;
}

section.buildingItems .buildingItemsShadow .rentOptions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 70%;
  background-color: black;
  font-family: "Lato", sans-serif;
}

section.buildingItems .buildingItemsShadow .rentOptions .closeShadow {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.08);
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

section.buildingItems .buildingItemsShadow .rentOptions .rentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: rgba(73, 73, 202, 0.3);
}

section.buildingItems .buildingItemsShadow .rentOptions .rentItem h3 {
  font-size: 26px;
}

section.buildingItems .buildingItemsShadow .rentOptions .rentItem p {
  font-size: 20px;
  color: blue;
  text-transform: uppercase;
}

section.buildingItems .buildingItemsShadow .rentOptions .rentPeriod {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: brown;
}

section.buildingItems .buildingItemsShadow .rentOptions .rentPeriod .rentFrom,
section.buildingItems .buildingItemsShadow .rentOptions .rentPeriod .rentTo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  width: 50%;
  background-color: cadetblue;
  font-size: 24px;
}

section.buildingItems .buildingItemsContainer {
  width: 96%;
  min-height: calc(100vh - 100px);
}

section.buildingItems .buildingItemsContainer h2 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
  font-family: "Lato", "sans-serif";
  font-size: 24px;
}

section.buildingItems .buildingItemsContainer .buildItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate {
  display: flex;
  width: 48%;
  border-radius: 7px;
  margin-top: 50px;
  height: 220px;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 4px black;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate:nth-child(1),
section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate:nth-child(2) {
  margin-top: 0;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildImg {
  width: 50%;
  height: 100%;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildImg
  img {
  width: 220px;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildText
  p {
  font-size: 18px;
  margin-left: 4px;
  font-family: "Lato", sans-serif;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildText
  h4 {
  font-size: 16px;
  margin-left: 8px;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildRentArea {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(73, 73, 202);
  background-color: rgba(73, 73, 202, 0.2);
  transition: 0.3s linear;
}

section.buildingItems
  .buildingItemsContainer
  .buildItemContainer
  .buildItemCreate
  .buildRentArea:hover {
  background-color: rgba(73, 73, 202, 0.3);
}
